@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.action-button {
  font-family: 'Luckiest Guy', cursive;
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: .25rem;
	background-color: #9186a1;
	box-shadow: 2px 2px 0px 1px #706482;
  text-transform: uppercase;
  border: none;
  border-radius: .75rem;
  color: #fff;
}

.action-button:hover {
  box-shadow: 2px 2px 0px 1px #307b82;
	background-color: #56b8c1;
}